<!doctype>
<html ng-app="Start">
  <head>

    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../html/stylesheets/photon.css" rel="stylesheet">
    <link href="../../html/stylesheets/common.css" rel="stylesheet">

    <script src="../../node_modules/jquery/dist/jquery.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../../node_modules/angular/angular.js"></script>
    <script src="../../node_modules/angular-sanitize/angular-sanitize.js"></script>

    <script src="./js/start.js"></script>

  </head>
  <body ng-controller="MainCtrl">

    <div class="container">
      <ul class="nav nav-tabs nav-justified">
        <li role="presentation" ng-class="{ active: selectedTab == 'login'}">
          <a href="#" ng-click="selectedTab = 'login'">{{ strings.TAB_LOGIN }}</a>
        </li>
        <li role="presentation" ng-class="{ active: selectedTab == 'create'}">
          <a href="#" ng-click="selectedTab = 'create'">{{ strings.TAB_CREATE }}</a>
        </li>
      </ul>

      <div class="row tab-content" ng-show="selectedTab == 'login'">
        <ng-include class="col-md-6" src="'views/login_panel.html'"></ng-include>
        <ng-include class="col-md-6" src="'views/login_form.html'"></ng-include>
      </div>

      <div class="row tab-content" ng-show="selectedTab == 'create'">
        <ng-include class="col-md-6" src="'views/create_account_panel.html'"></ng-include>
        <ng-include class="col-md-6" src="'views/create_account_form.html'"></ng-include>
      </div>
    </div>
  </body>
</html>
