<!doctype>
<html ng-app="Start">
  <head>

    <link href="../../common/assets/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="../../common/assets/stylesheets/photon.css" rel="stylesheet">
    <link href="../../common/stylesheets/common.css" rel="stylesheet">

    <script src="../../common/assets/js/jquery.js"></script>
    <script src="../../common/assets/js/bootstrap.js"></script>
    <script src="../../common/assets/js/angular.js"></script>
    <script src="../../common/assets/js/angular-sanitize.js"></script>

    <script src="./js/start.js"></script>
    <script src="../../common/js/services/i18n.js"></script>

    <style>
      .container {
        padding-top:3px;
      }
    </style>

  </head>
  <body ng-controller="MainCtrl">

    <div class="container" ng-cloak>
      <ul class="nav nav-tabs nav-justified">
        <li role="presentation" ng-class="{ active: selectedTab == 'login'}">
          <a href="#" ng-click="selectedTab = 'login'">{{ strings.TAB_LOGIN }}</a>
        </li>
        <li role="presentation" ng-class="{ active: selectedTab == 'create'}">
          <a href="#" ng-click="selectedTab = 'create'">{{ strings.TAB_CREATE }}</a>
        </li>
      </ul>

      <div class="row tab-content" ng-show="selectedTab == 'login'">
        <ng-include class="col-md-6" src="'views/login_panel.html'"></ng-include>
        <ng-include class="col-md-6" src="'views/login_form.html'"></ng-include>
      </div>

      <div class="row tab-content" ng-show="selectedTab == 'create'">
        <ng-include class="col-md-6" src="'views/create_account_panel.html'"></ng-include>
        <ng-include class="col-md-6" src="'views/create_account_form.html'"></ng-include>
      </div>
    </div>
  </body>
</html>
